
@{
    ViewBag.Title = "Termos de Serviço";
}
<style>
    a.Nexus {
        color: red
    }

    h3.Nexus {
        color: forestgreen
    }
</style>
<center><h1>Termos de Serviço</h1></center>
@{
    UriBuilder builder = new UriBuilder(Request.Url.AbsoluteUri);
    builder.Path = "Resources/TermsTXT.html";
    builder.Query = string.Empty;
    builder.Path = $"api/Files/Terms/GetTermByID";
    var query = HttpUtility.ParseQueryString(string.Empty);
    query["id"] = 1.ToString();
    builder.Query = string.Empty;
    string useTermsTxt = builder.ToString();
    query["id"] = 2.ToString();
    builder.Query = string.Empty;
    string returnPolicy = string.Empty;
}
<div class="card border-primary mb-3">
    <div class="card-header">
        <center>
            <h3 class="Nexus" style="max-width: none">VISÃO GERAL</h3>
        </center>
    </div>
    <div class="card-body">
        <p>
            &emsp;&emsp;Esse site é operado pelo <a href='https://www.facebook.com/JuanGamer076/' class="Nexus">Juan Douglas</a>. Em todo o site, os termos “nós”, “nos” e “nosso” se referem ao <a href='https://www.nexus-store.com.br' class="Nexus">Nexus Store</a>. O Nexus Store proporciona esse site, incluindo todas as informações, ferramentas e serviços disponíveis deste site para você, o usuário, com a condição da sua aceitação de todos os termos, condições, políticas e avisos declarados aqui.
        </p>
        <p>
            &emsp;&emsp;Ao visitar nosso site e/ou comprar alguma coisa no nosso site, você está utilizando nossos “Serviços”. Consequentemente, você  concorda com os seguintes termos e condições (“<i>Termos de serviço</i>”, “<i>Termos</i>”), incluindo os termos e condições e políticas adicionais mencionados neste documento e/ou disponíveis por hyperlink. Esses Termos de serviço se aplicam a todos os usuários do site, incluindo, sem limitação, os usuários que são navegadores, fornecedores, clientes, lojistas e/ou contribuidores de conteúdo.
        </p>
        <p>
            &emsp;&emsp;Por favor, leia esses Termos de serviço cuidadosamente antes de acessar ou utilizar o nosso site. Ao acessar ou usar qualquer parte do site, você concorda com os Termos de serviço. Se você não concorda com todos os termos e condições desse acordo, então você não pode acessar o site ou usar quaisquer serviços. Se esses Termos de serviço são considerados uma oferta, a aceitação é expressamente limitada a esses Termos de serviço.
        </p>
        <p>
            &emsp;&emsp;Quaisquer novos recursos ou ferramentas que forem adicionados à loja atual também devem estar sujeitos aos Termos de serviço. Você pode revisar a versão mais atual dos Termos de serviço quando quiser nesta página. Reservamos o direito de atualizar, alterar ou trocar qualquer parte desses Termos de serviço ao publicar atualizações e/ou alterações no nosso site. É sua responsabilidade verificar as alterações feitas nesta página periodicamente. Seu uso contínuo ou acesso ao site após a publicação de quaisquer alterações constitui aceitação de tais alterações.
        </p>
        <p>
            Nossa loja é hospedada no Azure.
        </p>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#txtModal">TXT</button>
    </div>
</div>
<hr />
<h3 class="Nexus">SEÇÃO 1 - TERMOS DA LOJA VIRTUAL</h3>
<p>&emsp;&emsp;Ao concordar com os Termos de serviço, você confirma que você é maior de idade em seu estado ou província de residência e que você nos deu seu consentimento para permitir que qualquer um dos seus dependentes menores de idade usem esse site.</p>
<p>&emsp;&emsp;Você não deve usar nossos produtos para qualquer fim ilegal ou não autorizado. Você também não pode, ao usufruir deste Serviço, violar quaisquer leis em sua jurisdição (incluindo, mas não limitado, a leis de direitos autorais).</p>
<p>Você não deve transmitir nenhum vírus ou qualquer código de natureza destrutiva.</p>
<p>Violar qualquer um dos Termos tem como consequência a rescisão imediata dos seus Serviços.</p>
<hr />
<h3 class="Nexus">SEÇÃO 2 - CONDIÇÕES GERAIS</h3>
<p>Reservamos o direito de recusar o serviço a qualquer pessoa por qualquer motivo a qualquer momento.</p>
<p>
    Você entende que o seu conteúdo (não incluindo informações de cartão de crédito), pode ser transferido sem criptografia e pode:
</p>
<ul>
    <li>
        Ser transmitido por várias redes; e
    </li>
    <li>
        Sofrer alterações para se adaptar e se adequar às exigências técnicas de conexão de redes ou dispositivos.
    </li>
</ul>
<p>
    As informações de cartão de crédito sempre são criptografadas durante a transferência entre redes.
</p>
<hr />
<h3 class="Nexus">SEÇÃO 3 - PRECISÃO, INTEGRIDADE E ATUALIZAÇÃO DAS INFORMAÇÕES</h3>
<p>
    &emsp;&emsp;Não somos responsáveis por informações disponibilizadas nesse site que não sejam precisas, completas ou atuais. O material desse site é fornecido apenas para fins informativos e não deve ser usado como a única base para tomar decisões sem consultar fontes de informações primárias, mais precisas, mais completas ou mais atuais. Qualquer utilização do material desse site é por sua conta e risco.
</p>
<p>
    &emsp;&emsp;Esse site pode conter certas informações históricas. As informações históricas podem não ser atuais e são fornecidas apenas para sua referência. Reservamos o direito de modificar o conteúdo desse site a qualquer momento, mas nós não temos obrigação de atualizar nenhuma informação em nosso site. Você concorda que é de sua responsabilidade monitorar alterações no nosso site.
</p>
<hr />
<h3 class="Nexus">SEÇÃO 4 - MODIFICAÇÕES DO SERVIÇO E PREÇOS</h3>
<p>Os preços dos nossos produtos são sujeitos a alterações sem notificação.</p>
<p>Reservamos o direito de, a qualquer momento, modificar ou descontinuar o Serviço (ou qualquer parte ou conteúdo do mesmo) sem notificação em qualquer momento.</p>
<p>Não nos responsabilizados por você ou por qualquer terceiro por qualquer modificação, alteração de preço, suspensão ou descontinuação do Serviço.</p>
<hr />
<h3 class="Nexus">SEÇÃO 5 - PRODUTOS OU SERVIÇOS (caso aplicável)</h3>
<p>
    &emsp;&emsp;Certos produtos ou serviços podem estar disponíveis exclusivamente online através do site. Tais produtos ou serviços podem ter quantidades limitadas e são sujeitos a apenas devolução ou troca, de acordo com nossa Política de devolução.
</p>
<p>
    &emsp;&emsp;Fizemos todo o esforço possível da forma mais precisa as cores e imagens dos nossos produtos que aparecem na loja. Não podemos garantir que a exibição de qualquer cor no monitor do seu computador será precisa.
</p>
<p>
    &emsp;&emsp;Reservamos o direito, mas não somos obrigados, a limitar as vendas de nossos produtos ou Serviços para qualquer pessoa, região geográfica ou jurisdição. Podemos exercer esse direito conforme o caso. Reservamos o direito de limitar as quantidades de quaisquer produtos ou serviços que oferecemos. Todas as descrições de produtos ou preços de produtos são sujeitos a alteração a qualquer momento sem notificação, a nosso critério exclusivo. Reservamos o direito de descontinuar qualquer produto a qualquer momento. Qualquer oferta feita por qualquer produto ou serviço nesse site é nula onde for proibido por lei.
</p>
<p>
    &emsp;&emsp;Não garantimos que a qualidade de quaisquer produtos, serviços, informações ou outros materiais comprados ou obtidos por você vão atender às suas expectativas, ou que quaisquer erros no Serviço serão corrigidos.
</p>
<hr />
<h3 class="Nexus">SEÇÃO 6 - PRECISÃO DE INFORMAÇÕES DE FATURAMENTO E CONTA</h3>
<p>
    &emsp;&emsp;Reservamos o direito de recusar qualquer pedido que você nos fizer. Podemos, a nosso próprio critério, limitar ou cancelar o número de produtos por pessoa, por domicílio ou por pedido. Tais restrições podem incluir pedidos feitos na mesma conta de cliente, no mesmo cartão de crédito, e/ou pedidos que usam a mesma fatura e/ou endereço de envio. Caso façamos alterações ou cancelemos um pedido, pode ser que o notifiquemos por e-mail e/ou endereço/número de telefone de faturamento fornecidos no momento que o pedido foi feito. Reservamos o direito de limitar ou proibir pedidos que, a nosso critério exclusivo, parecem ser feitos por comerciantes, revendedores ou distribuidores.
</p>
<p>&emsp;&emsp;Você concorda em fornecer suas informações de conta e compra completas para todas as compras feitas em nossa loja. Você concorda em atualizar prontamente sua conta e outras informações, incluindo seu e-mail, números de cartão de crédito e datas de validade, para que possamos completar suas transações e contatar você quando preciso.</p>
<p>Para mais detalhes, por favor, revise nossa <a href="@returnPolicy" class="Nexus">Política de devolução.</a></p>

<!-- Modal -->
<div id="txtModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="width: 100%; max-width:100%;">
            <div class="modal-header">
                <center><h3>Termos de Serviço</h3></center>
                <button type="button" class="close" data-dismiss="modal" style="margin-right: 5px;">
                    <span class="badge badge-pill badge-danger" style="padding: 45%;padding-top: 36%;">×</span>
                </button>
            </div>
            <div class="modal-body">
                @{
                    builder.Path = "Resources/TermsTXT.html";
                    builder.Query = string.Empty;
                }
                <iframe src="@builder.ToString()" height="400rem" width="100%"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" onclick="location.href = '@builder.ToString()';location.target='_blank';">Ver na pagina</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>